.App__header {
  background-color: #282c34;
  margin-bottom: 40px;
}

.App__header h1 {
  color: #e8eddf;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

@media all and (min-width: 600px) {
  .App__header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .App__header h1 {
    margin: 14px 0;
    padding-top: 0;
  }
}