/* .Accordion {
    margin: 0;
    padding: 0;
  } */

  .Accordion__item {
    width: 100%; 
    margin-bottom: 2px;
    list-style-type: none;
    padding: 0;
    display: inline-block;
  }
  
  /* .Accordion__item li {
    /* display: block; */
    /* float: left; */
  /* } */ 

  .Category__button {
    background-color: #17c3b2;
    color: #282c34;
  }

  /* .Accordion label {
    display: inline-block;
  } */

