.About {
  /* background-color: #e8eddf; */
  width: 65%;
  /* min-height: 15vh; */
  display: inline-block;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* color: #282c34; */
}

.About li {
  text-align: left;
}

.About ol {
  padding: 25px;
  margin: 25px;
}

/* .Home {
  width: 65%;
  display: inline-block;
} */