.About {
  /* background-color: #e8eddf; */
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
}

li {
  text-align: left;
}

ol {
  padding: 50px;
  margin: 25px;
}